
/****** MAPA *****/

#my-map {
    min-height: 450px;
    min-width: 600px;
}


/***** Exemplo de tabela (horrível) ******/

table.mytable {
    min-width: 400px;
    border-collapse: collapse;
}

table.mytable > thead > tr {
    background-color: #777;
}

table.mytable td {
    border: 1px solid black;
}


/*** FORMS ****/
form div.input-holder {
    margin-bottom: 10px;
}

